[2020-04-23 19:24] swcurran opened #1595 "Define the anoncreds 2 revocation ledger transactions, content and work required (from JIRA INDY_-2365)"
Discussions were held about anoncreds revocation 2.0 (aka Merkle Tree-based revocation) based on the capabilities exposed in Ursa.  We propose that the following attributes and approaches be used in the Indy credential revocation 2.0 instance.

 * Tree leaves will be indexed bits (vs. bytes) that are either 0 (not revoked) or 1 (revoked).
 * The Merkle tree will be an 8-ary tree (vs. binary or 4-a

[2020-04-23 19:28] swcurran commented on #1595
This was discussed on the Indy Collaborators call on 2020.04.20.  In that call a concern was raised about the computing/space resources constraints on mobile devices when computing the interior nodes of the revocation.

On that same call it was stated that while the changes to Indy Node would be minimal based on this approach, some changes would be necessary to implement verification of the object

[2020-04-23 19:39] swcurran opened #1596 "What is the compression profile of the proposed handling of revocation 2 merkle tree leaves"
See #1595 for details of the plan for revocation 2.

We need a technical spike done to verify our assumptions about the proposed approach to storing the leaves of the merkle tree on the ledger.  Notable, the leaves, a list of 64-bit unsigned ints with each bit representing 1 credential's revocation status.  The request is to do something like:

- define a way to store the leaves of the merkle tree

[2020-04-23 19:56] swcurran opened #1597 "What is the resource usage of calculating the interior nodes of the revocation 2 merkle tree?"
See #1595 for details of the plan for revocation 2.

We need a technical spike done to verify our assumptions about the proposed approach to storing the leaves of the merkle tree on the ledger. Notable, the leaves, a list of 64-bit unsigned ints with each bit representing 1 credential's revocation status and the ability for a prover to generate the interior nodes of the merkle tree. The request is

[2020-04-23 20:01] swcurran opened #1598 "Define the transactions for the Revocation 2 RevReg and RevEntry transactions"
See #1595 for details of the plan for revocation 2.

We need to understand the RevReg and RevEntry transactions for revocation 2. What needs to be in each transaction?  Once determined, what verification should be defined for each?

This task requires knowledge of the Ursa revocation 2 implementation and the information needed by the prover and the verifier to carry out their roles in providing a

[2020-04-23 21:31] dhh1128 commented on #1596
Can I claim this ticket, or was someone else planning to?

[2020-04-23 21:56] swcurran commented on #1596
Sold.  You've got it, Daniel.  Thanks!

[2020-04-24 02:41] dhh1128 commented on #1597
If I get #1598 done quickly, I'll take this one, too. They require pretty similar tooling. But if someone comes along and wants to take this independently, that's cool too.

[2020-04-24 03:40] dhh1128 commented on #1595
Just a note: there appear to be 2 different merkle tree impls already visible in the libindy codebase. One is in libindy itself (libindy/src/services/ledger/merkletree/merkletree.rs). That merkle tree is unable to meet the design requirements above, because it is binary and not sparse. The second is in Ursa (./libzmix/bulletproofs_amcl/src/r1cs/gadgets/sparse_merkle_tree_8_ary.rs). This is closer

[2020-04-24 03:49] dhh1128 commented on #1595
It looks like none of the available Rust crates are good options. The closest is merkletree (https://crates.io/crates/merkletree). It allows 64-bit leaves, but it is a binary tree in all cases; doesn't support 8-ary.

[2020-04-24 13:46] swcurran commented on #1595
@mikelodder7 - could you weigh in on this?

I'd say we go with Ursa's implementation as is and adjust the planned definition accordingly. Mike had said leaves could be 1 bit or 1 byte, so that seems to align to what Daniel is saying. I believe that means that the size of the leaf set remains the same, but we go up a layer to achieve the same "number of credentials" size RevReg (e.g. layers=1 is a

[2020-04-24 14:05] mikelodder7 commented on #1595
The implementation in ./libzmix/bulletproofs_amcl/src/r1cs/gadgets/sparse_merkle_tree_8_ary.rs allows for anything to be stored. What happens is the values are converted to field elements when they are used for proof computation but storage can be anything. For example, you can use the in-memory version [here](https://github.com/hyperledger/ursa/blob/master/libzmix/bulletproofs_amcl/src/utils/hash

[2020-04-25 00:30] dhh1128 commented on #1597
I wanted to report some data that I'm seeing as I work on #1598. I now have a program that lets me build  sparse 8-ary merkle trees using Ursa's impl, with arbitrary depths, and then insert to an arbitrary fill factor. It is instrumented with the Criterion benchmarking crate. On my Macbook Pro (16 GB RAM, QuadCore Intel Core i7):

creating an `InMemoryHashDb::<DbVal8ary>` is fast (about 15 nanosec

[2020-04-25 20:35] swcurran commented on #1597
I think in general, there will be two ways the tree will be generated:

- issuer - keeps the set of leaves. Flips the bits of revoked credentials. Periodically, generates the full set of interior nodes, and hence the merkle root and prepares the RevEntry transaction (signed merkle root, compressed leaves, etc.).  We expect that in most cases, RevEntry transactions will be periodic vs. as they happ

[2020-04-28 06:57] dhh1128 commented on #1597
Thank you for the details. They are useful.

I had a call with Mike Lodder today to clarify some things, and I wrote some follow-up questions to Lovesh, who wrote the original merkle tree code in Ursa. I also wrote an app that anyone can use to profile the current merkle tree impl; see https://github.com/dhh1128/merklespike.

I am making progress and will report more in a day or two as I learn mor

[2020-05-06 22:16] dhh1128 commented on #1597
Here are some formal numbers: https://docs.google.com/spreadsheets/d/1A9H9eytUgXIGmVZbdXLqDCBgc9xWIN0p1A6_DrJ_CA0/edit

Analysis:

1. At any given depth of tree, the time to update the tree with revocations (set leaf nodes to 1) is linear with the number of calls to update(). This is very good news, because it means an issuer who does few revocations will find it very cheap to load and update thei

[2020-05-08 22:00] dhh1128 commented on #1597
Okay, I now have numbers to quantify the cost and benefit of caching a precomputed merkle tree. That is, calculating a merkle tree, saving it to disk, and then loading it later from disk. How long does the saving and loading of the merkle tree take, how big is it, how compressible is it, etc.

Data is here: https://docs.google.com/spreadsheets/d/1A9H9eytUgXIGmVZbdXLqDCBgc9xWIN0p1A6_DrJ_CA0/edit#gi

[2020-05-08 22:09] dhh1128 commented on #1597
Next steps:

1. Roughly quantify the performance of hashing on a mobile device, so we know how the numbers above (generated on a macbook pro) might translate to a mobile platform. I have theorized that hashing and elliptic curve math might be 5x slower. This could be off by an order of magnitude.)

2. Quantify the impact of an optimization that doesn't recompute the full tree after every insert. T

[2020-05-11 14:37] dhh1128 commented on #1596
I've investigated compression in conjunction with some other benchmarking; see #1597

[2020-05-11 14:39] swcurran commented on #1596
@dhh1128 - did you do any investigation of the compression of just the leaves (bits) without the rest of the merkle tree?  I think the compression included the entire tree, but I might be wrong.  Please clarify.

[2020-05-11 15:01] swcurran commented on #1597
I would suggest that we look at other merkle tree implementations/redo the one we have as the next step so that we get the behaviour we need.  Notably, focus on the `tree = build(height, [leaves])` operation so that we can see if we can store the ledger data as planned - just the root and the bit array - and have the issuer and holder generate the tree from the leaves as needed vs. storing it.

[2020-05-11 15:55] dhh1128 commented on #1596
No, I did not study compression of just the leaves; the numbers I published were for the tree as a whole. Compression of pure leaves will be *very* high -- over 90%, likely, or even more -- until the revocations become dense. And since we're talking about compressing data that is already slimmed down to one bit per revocation, it will produce wonderfully small files. So a quick estimate: for a rev

[2020-05-13 04:15] dhh1128 commented on #1597
Okay, I now have results from the next optimization. The essence of this optimization is to build the tree from a pure bitmap, guaranteeing that no hash is ever computed more than once. The current tree interface doesn't allow this. This means that under the current algorithm, when you revoke 1% of the leaf bits, the parents of those bits have a 1% * 8 chance of being recalculated; the parents of

[2020-05-13 04:21] dhh1128 commented on #1597
^^ @esplinr @mikelodder7 @jovfer

[2020-05-13 13:43] swcurran commented on #1597
Thanks Daniel.  @andrewwhitehead ^^

[2020-05-15 23:55] dhh1128 commented on #1597
Update: I went back and did some benchmarking using my Google Pixel, so we'd have a more realistic idea of the performance on a mobile device instead of a laptop. My pixel is first-generation; this is hardware that was first released in late 2016, though I bought it in mid 2017. It has a 64-bit ARM chip (Qualcomm Snapdragon 821 2.15 GHz) with 4 CPUs + GPU, 1.5 GB RAM, and 128 GB of disk space. At

[2020-06-23 15:19] brentzundel opened #1606 "rename master branch"
# Summary
We should rename the branch `master` to `main` and use that going forward for our work.

From [Problematic Terminology in Open-Source](https://blog.carbonfive.com/2018/10/08/problematic-terminology-in-open-source/) on master/slave terminology in software:

Removing this terminology from our workflow is a small gesture to include more people from marginalized groups in this project.

(I’m

[2020-06-23 15:30] dhh1128 commented on #1606
I am in favor of this change.

[2020-06-26 16:13] brentzundel commented on #1606
I have heard that github is working on tools to simplify this. It may be best to wait until those are available.
But if they aren't available within a couple of months I'd like to proceed.

[2020-07-28 16:59] JakeFromIBM opened #1609 "Updated Dev Setup"
Is there a more up-to-date setup guide for developers?
The one [here]( https://github.com/hyperledger/indy-node/blob/master/docs/source/setup-dev.md) seems like it's very outdate. (e.g., tells you to use indy-crypto but it looks like Ursa is used instead)

[2020-07-28 23:03] dhh1128 commented on #1609
Comment from @brentzundel : I made several changes to the dev setup instructions when I raised [my PR to remove indy-crypto](https://github.com/hyperledger/indy-node/pull/1607) that may address this issue if it gets reviewed and merged.

[2020-08-23 16:12] SalimiHabib opened #1614 "Using docker swarm"
Is it possible to to run indy nods in docker swarm  for multi host pool ?

[2020-08-24 16:47] dhh1128 commented on #1614
Salimi: Indy nodes are run with plain Docker all the time. Instructions on how to do this are found in the INDY SDK, here: https://github.com/hyperledger/indy-sdk#how-to-start-local-nodes-pool-with-docker

However, we have not attempted to run a pool using Docker Swarm. The reason is that the pool has its own high-availability logic, and trying to combine it with another HA strategy is problematic

[2020-08-24 17:54] SalimiHabib commented on #1614
Daniel Hardman: With the explanation you provided, it seems in addition of
swarm , using indy behind load balancer (such as envoy) , may be  cause
problems  ambiguities or drawbacks( because  of HA strategy in indy). If
so, is there any  solution?

Thank you for your time

On Mon, Aug 24, 2020 at 9:17 PM Daniel Hardman <notifications@github.com>
wrote:

[2020-08-25 19:47] SalimiHabib opened #1615 "suggestion in naming"
Perhaps the second line makes it easier to define the concept

1- There is an **indy ledger** that contains several **ledger** included **audit ledger** , **config ledger** and ...
2- There is an **indy ledger** that contains several **sub ledger**  included **audit sub ledger** , **config sub ledger** and ...

thank you

[2020-08-26 18:46] dhh1128 commented on #1614
An individual node of Indy isn't supposed to be highly available, any more than an individual stripe of RAID-ed storage is supposed to be highly available. The entire Indy *pool* is highly available as a unit. That is what the byzantine fault tolerant consensus algorithm of the pool guarantees. It is a very strong high-availability guarantee; it is highly available not just in the face of network

[2020-08-27 17:22] dhh1128 commented on #1615
Yes, I think your verbiage is an improvement. What document are you suggesting we update?

[2020-08-27 19:40] SalimiHabib commented on #1614
Daniel Hardman: **it is all about money**
Currently we are using Microsoft orleans (as back-end database with its own HA) and signal R as front-end ,this package will run behind envoy proxy servers .
orleans dose not have any public access and completely relay on signal R (with have a good adaptation by envoy) but we have new players ( Indy in server farm and Aries in server and public ) , and tha

[2020-08-30 14:52] WadeBarnes opened #1616 "Pool upgrades retry indefinitely when unsuccessful"
When a pool upgrade fails on a particular node, the upgrade process is rescheduled and restarted on the node following the timeout period specified in the `pool-upgrade` command used to schedule the initial upgrade.  If the upgrade process is continuously unsuccessful the upgrade is rescheduled on the node and retried indefinitely until an upgrade cancel command is issued to stop the process.

Thi

[2020-09-06 04:59] #1615 closed

[2020-09-17 13:54] AlexJonsson opened #1618 "Recover when Audit Ledger is out of sync with other ledgers"
config / domain / plugins ledgers -> audit (holds latest hash of above three)
Part 1 of config txn types is permissions (did the writer have the correct permission ledger?)
- Issue: if killing indy-node after writing latest hash on audit ledger, but not the first three, so node says we can't run
- Desired behavior: discard newer transactions and then play catchup

[Comment origination](https://git

[2020-09-17 14:32] swcurran opened #1619 "Add feature flag control over the Rich Schema transactions to indy-node"
A number of transactions to support Rich Schema (RS) have been added to indy-node and merged into the stable branch.  We'd like to merge them into the master branch, but we don't have a good way to test them, as indy-sdk support for RS has not been built out.  The changes of interest can be seen in this [comparison of the current (as I type this) commits for stable and master](https://github.com/h

[2020-09-17 14:38] swcurran opened #1620 "Review current stable-master comparison to see if there is anything other than Rich Schema changes"
We think that the [difference between the current stable -- master branches](https://github.com/hyperledger/indy-node/compare/8673f9bab833ad7117a6a73cfed1f8c4e5b0c8db...da23a69a0957e3d040f11803f75b480cae465739) is only about the new Rich Schema transactions that were added to the ledger.  This task is to review the difference and identify anything that is (a) not Rich Schema and (b) code that coul

[2020-09-17 14:46] swcurran opened #1621 "Complete work on the removal of indy-node's indy-crypto dependency"
The work to transition from indy-crypto to ursa is complete in the code (as far as we know), but the dependency on indy-crypto remains. A PR #1607 has removed it from the code, but the work to remove it from the build pipeline is not complete.

This task is to have that PR merged and then fix as needed the build pipeline to work and complete the tests.  In doing that, the indy-plenum dependency wi

[2020-09-21 16:12] WadeBarnes commented on #1621
Reviewed the pipeline changes in the PR.  They look fine.  Started a new build/test to help verify the PR.

[2020-10-07 17:50] WadeBarnes commented on #1621
PR has been merged.  Will deal with any down stream CD issues as they arise.

[2020-10-09 07:27] HarshMultani opened #1623 "Error while creating pool using indy-cli"
I have ran the indy_pool network and it is up using the command : docker run -itd -p 9701-9708:9701-9708 indy_pool

Now, I have installed indy-cli in my system

Now when I am trying to create a pool using the command:
pool create local_pool gen_text_file=/<PATH_TO_INDY_SDK>/indy-sdk/cli/docker_pool_transactions_genesis

It is giving me the error :
Unknown "gen_text_file" parameter present

Can som

[2020-10-10 19:35] WadeBarnes commented on #1621
The CD process did break.  Will need to investigate.

[2020-10-10 20:26] WadeBarnes commented on #1623
The parameter should be `gen_txn_file`.

To list the help for the command in the `cli`:
[code]

[2020-10-11 16:03] HarshMultani commented on #1623
Hi, I gave the location of the genesis file for the network...  still it was not working.   But anyhow, after some time it worked.

[2020-10-11 16:52] #1623 closed

[2020-10-12 17:36] darkchylde opened #1624 "Unable to start indy test network"
Followed the instructions provided in the README.md file to [start a test network](https://github.com/hyperledger/indy-node#how-to-install-a-test-network),

Following command failed to execute `./pool_start.sh 4 10.0.0.2,10.0.0.3,10.0.0.4,10.0.0.5 10 9701`, below is the console output,

[code]

[2020-10-13 07:24] georgepadayatti opened #1625 "Documentation to run a production indy network with governance in place."
There should be proper documentation provided to run production capable indy network and guidance on governance capabilities. It should be structured in such a way that any entity should be equipped to run their own indy network. Current documentation is very much scattered, that an entity would have to rely on third parties to understand the steps. Proper documentation is very much required if we

[2020-10-13 07:27] darkchylde commented on #1625
This would help in creating small indy networks in different parts of the world, and when the interoperability project succeeds, it will connect these networks creating a powerful alternative to PKI.

[2020-10-16 09:02] joinDonk commented on #1624
I also encountered the same problem. I downloaded the version number of the website and found that none of them could be used? Why?

[2020-10-16 14:58] WadeBarnes commented on #1624
@darkchylde, You resolved the issue?  If so please provide details.

[2020-10-16 15:47] darkchylde commented on #1624
Reopening again. Temporarily fixed the issue by using specific indy node (1.12.1~dev1172) and plenum (1.12.1~dev989) versions,

Updated the `core.ubuntu.dockerfile` present in the following path, `environment > docker > pool`

[code]

[2020-10-16 15:51] darkchylde commented on #1624
@WadeBarnes This issue is related to #1621

[2020-10-20 09:02] blockchainapper opened #1627 "How does a chain node get the raw data from another node when ATTRIB transaction ?"
in ATTRIB transaction:

Hash of the raw attribute data. Raw data is represented as JSON, where the key is the attribute name and the value is the attribute value. The ledger only stores a hash of the raw data; the real (unhashed) raw data is stored in a separate attribute store.

so, how does a chain node get the raw data from another node when ATTRIB transaction ? if needn't, then the separate at

[2020-10-20 20:30] dhh1128 commented on #1627
It sounds from some of the words in the question that you are assuming Indy behaves like Ethereum, where local nodes have to replicate some or all of the blockchain. This is not the case.

Clients of Indy don't have to have any blockchain data locally. They are not called "nodes" at all. The only "nodes" in Indy are the ones that participate in consensus, and the consensus algorithm automatically

[2020-10-21 01:24] blockchainapper commented on #1627
Thank @dhh1128  very much !
if the client don't have any blockchain data locally, I have 2 questions:
(1) will the raw data be broadcasted to consensus node with the ATTRIB transaction ? if so, will everyone who access the blockchain can get all data including the raw data in  ATTRIB transaction ?
(2) if everyone can get all data including the raw data, so, how to protect the privacy when the raw

[2020-10-21 04:01] dhh1128 commented on #1627
Re. #1: Yes, all data written to the ledger is public.
Re. #2: People should not write private data to the ledger, ever. Individual Indy networks can choose to enforce this or not, according to their preference; on the Sovrin networks, there are actual terms of service that enforce this. Individuals who want to write private data somewhere should use a different mechanism (e.g., peer DIDs; see htt

[2020-10-21 06:57] blockchainapper commented on #1627
@dhh1128 ,Thank  you !

[2020-10-21 15:41] dhh1128 commented on #1627
This is a question that ought to be answered by @skhoroshavin or someone on his team. However, I believe the "separate attribute store" is a rocksdb instance that is persisted beside the ledger on each node in the consensus pool. I believe it is automatically replicated as part of consensus/catchup, so the net effect is that the data for the ATTRIB is always available to anyone who looks up the tr

[2020-10-22 01:22] blockchainapper commented on #1627
thank @dhh1128, your reply saved my day.
@skhoroshavin , can you help me to  get clear on it ?

[2020-11-03 14:19] skhoroshavin opened #1629 "Fix broken Indy Node CD pipeline"
Merging changes with moving from Indy Crypto to Ursa (see this PR: https://github.com/hyperledger/indy-node/pull/1607) has broken Indy Node CD pipeline. This needs to be fixed, because it would block any further releases (and frankly doing general development work is also quite hard in this situation)

**Acceptance criteria**
* Indy Node should have green CD pipeline in master

[2020-11-03 17:12] WadeBarnes commented on #1629
What do we need to do to move this forward?

[2020-11-16 17:30] radiantone opened #1630 "Cannot build dockers"
Running pool_start kicks off a docker build for the nodes that fails.

Running on Ubuntu 20.04

The following packages have unmet dependencies:
 indy-node : Depends: indy-plenum (= 1.13.0~dev1024) but it is not going to be installed
E: Unable to correct problems, you have held broken packages.

[2020-11-16 17:32] radiantone opened #1631 "Update base docker images to 20.04"
Currently, indy node bases its docker images off ubuntu 16.04. this version is no longer supported.

Please update them to use 20.04

[2020-11-16 17:39] swcurran commented on #1631
We have an initiative to do this, but the work is not yet complete.

Note that Support continues for Ubuntu 16.04 through April 2021 (per https://wiki.ubuntu.com/Releases), so we still have a short period of time to complete the upgrade.

[2020-12-31 20:36] cdesch opened #1638 "Dev Setup Error: Python could not import the module virtualenvwrapper.hook_loader"
I'm following this [quick setup tutorial](https://github.com/hyperledger/indy-node/blob/master/docs/source/setup-dev.md) for Ubuntu 16.04. On the step `source ~/.bashrc`, I hit this error:

[code]

Has anyone seen this before?

[2020-12-31 21:08] cdesch commented on #1638
It seems to be caught up here `source /usr/local/bin/virtualenvwrapper.sh` and throwing this error regarding the python package.

[code]

Is there a list of python dependencies installed globallying or a virtualenv that need to be activated first?

[2021-01-15 09:30] solidnerd commented on #1631
@swcurran Are there any updates on the topic ?

[2021-01-18 14:25] Gabisonfire opened #1639 "ERROR:ursa.lib:_load_cdll: Can't load libursa: libursa.so: cannot open shared object file: No such file or directory"
[code]

[code]

Error message:

[code]

This was done using `./pool_start.sh` located in  `/indy-node/environment/docker/pool`.

From my understanding, this has to do with the build image and not the host itself but I could be wrong. Any ideas?

Cheers

[2021-01-18 15:47] Gabisonfire commented on #1639
Fixed using https://github.com/hyperledger/indy-node/pull/1634/files

[2021-01-18 15:47] #1639 closed

[2021-01-18 20:11] swcurran commented on #1631
The team is still working on the CI/CD work that is a pre-requisite for the Ubuntu upgrade.

[2021-01-29 19:17] guilherme-funchal opened #1643 "Perfomance test"
Hi

Errr whem I m trying to execute perf_process.py :

Traceback (most recent call last):
  File "perf_processes.py", line 20, in <module>
    import perf_load

[2021-01-29 22:50] esplinr opened #1644 "Unit tests in Indy Node should use indy-vdr instead of LibIndy"
[Indy-VDR](https://github.com/hyperledger/indy-vdr) is receiving more development than [Indy-SDK](https://github.com/hyperledger/indy-sdk), so we should replace calls to libindy with calls to indy-vdr in the Indy Node tests.

[2021-02-02 06:18] ldsenow commented on #1631
This is why I wasn't able to create a pool. I tried ubuntu 20.04 and 18.04 and neither of them worked.

[2021-02-21 14:45] WadeBarnes opened #1659 "Update remove_ledger.py to protect against removing a ledger that has been used"
Update [remove_ledger.py](https://github.com/hyperledger/indy-node/blob/master/scripts/remove_ledger.py) to protect against removing a ledger that has been used.

If a ledger has been used (it contains transactions) it's history is critical to the historical integrity if the network, even if the ledger has been frozen.  Without the historical data for a given ledger the ability to `audit the histo

[2021-02-24 12:42] Toktar commented on #1659
Hello.
@WadeBarnes Thanks for your ideas. But why do you say that removing the plugin ledger (non-empty) will compromise the integrity of the system?
From the point of view of the system, if the LEDGERS_FREEZE transaction was applied, then it happened by consensus. And for the complete loss of the ledger, all stewards on all nodes must start this script manually.
From the point of view of business

[2021-02-24 13:39] WadeBarnes commented on #1659
@Toktar, Exactly, that is the concern, the impact of not being able to read the data.  The conversation and answers are best discussed on the HIPE.  I think we need to better understand the impact of 1) Freezing a Ledger, 2) Removing the associated plug-in, and 3) Deleting the Ledger.  It's not 100% clear what the overall impact is, especially to the audit history of the ledger (and/or associated

[2021-02-25 05:59] esplinr commented on #1659
@m00sey pointed out that there are various developer use cases where people will likely want to delete ledgers with data in them.

Specifically, the goal of the task is to delete the token history for the Sovrin test ledgers. This is safe because they are not intended to have a permanent history (see [my reply in the associated sovrin-sip](https://github.com/sovrin-foundation/sovrin-sip/pull/28#is

[2021-02-25 13:04] Toktar commented on #1659
@esplinr This can be not easy due to the opening of the database in multiple threads. But we believe that this can be solved and will take several days.

[2021-02-25 13:31] WadeBarnes commented on #1659
I'm not disputing there are legitimate use cases.  However it is imperative the ramifications of such actions are clear and fully understood before actions are taken.

I'll have a look.

Yes, that would address the concerns with this script.

[2021-02-26 06:19] esplinr commented on #1659
@Toktar Can you elaborate on why checking if the ledger is empty will take several days of development? What do you mean "opening a database in several threads"?

It's not worth multiple days of effort. Our work is better focused on resolving the blockers to release. If it can't be done quickly, then a warning should be added to the top of the script and we should move on.

[2021-03-06 12:38] fariduca commented on #1630
I am facing the same problem. Is there a solution yet?

[2021-03-21 13:54] WadeBarnes opened #1669 "Add more detailed hardware metrics to the collection and output of `validator-info`"
The output of `validator-info` currently returns limited hardware metrics for a given node.  To better facilitate node monitoring as well as continuous node compliance monitoring, `validator-info` should report a more complete set of hardware metrics including:
- Hard Disk Stats
  - Total size (amount), available (amount), and used (amount and percent) for all volumes.
  - Total size (amount), ava

[2021-03-21 14:41] WadeBarnes opened #1670 "Add additional resource and system metrics to the collection and output of `validator-info`"
The [Technical Verification Script](https://github.com/sovrin-foundation/steward-tools/blob/master/steward_tech_check.py) collects and analyses node resource and and system information in order to determine and report on a given node's level of compliance.  To facilitate continuous health, diversity, and compliance monitoring the collection and analysis of the data should be separated.  The metric

[2021-03-21 14:49] WadeBarnes opened #1671 "Implement a health, diversity, and compliance analysis plug-in"
As a companion to https://github.com/hyperledger/indy-node/issues/1670, integrate the analysis portion(s) of the  [Technical Verification Script](https://github.com/sovrin-foundation/steward-tools/blob/master/steward_tech_check.py) into a new plugin to facilitate continuous monitoring.

The implementation should build on the analysis plugin once merged; https://github.com/hyperledger/indy-node-mon

[2021-03-21 14:52] WadeBarnes commented on #1671
Entered on the wrong project.

[2021-03-21 14:52] #1671 closed

[2021-03-21 15:06] WadeBarnes opened #1672 "Ensure technical policies already enable the extraction of additional metrics for `validator-info`"
- [Add more detailed hardware metrics to the collection and output of `validator-info`](https://github.com/hyperledger/indy-node/issues/1669)
- [Add additional resource and system metrics to the collection and output of `validator-info`](https://github.com/hyperledger/indy-node/issues/1670)

[2021-03-21 15:09] WadeBarnes opened #1673 "Determine ACLs on who is allowed to request, receive and store additional metrics for `validator-info`"
- [Add more detailed hardware metrics to the collection and output of `validator-info`](https://github.com/hyperledger/indy-node/issues/1669)
- [Add additional resource and system metrics to the collection and output of `validator-info`](https://github.com/hyperledger/indy-node/issues/1670)

[2021-03-21 15:28] WadeBarnes opened #1674 "Add a detailed tutorial on how to create a New Indy Network"
Resources:
- [Create New Indy Network](https://docs.google.com/document/d/1XE2QOiGWuRzWdlxiI9LrG9Am9dCfPXBXnv52wGHorNE)
- [Hyperledger Indy Custom Network with Indy Node & Plenum(Protocol & Ledger)](https://medium.com/coinmonks/hyperledger-indy-custom-network-with-indy-node-plenum-protocol-ledger-85fd10eb5bf5)

Feedback:
- One user has indicated there where some steps in [Hyperledger Indy Custom N

[2021-03-21 15:42] wYaobiz commented on #1674
When I run the prerequisites.sh script from the tutorial [Hyperledger Indy Custom Network with Indy Node & Plenum(Protocol & Ledger)](https://medium.com/coinmonks/hyperledger-indy-custom-network-with-indy-node-plenum-protocol-ledger-85fd10eb5bf5), there are some issue caused by missing dependency for some python package.

I added some packages, and tested in a fresh Ubuntu 16.04. It works correctl

[2021-03-23 14:06] WadeBarnes opened #1675 "Setup Hyperledger Artifactory repositories for publishing release artifacts"
`indy-node` and `indy-plenum` artifacts have up until now been published to https://repo.sovrin.org/, using the Sovrin hosted Jenkins CI/CD environment.  As part of the migration to the GitHub actions based CI/CD process we are also migrating over to the Hyperledger Artifactory hosted environment for publishing the artifacts generated by the new pipelines.

**Only Hyperledger artifacts will be hos

[2021-03-23 14:09] WadeBarnes commented on #1675
@udosson, We can discuss the setup of the publishing repos here.

[2021-03-23 15:43] lohanspies commented on #1669
We should also potentially include RAID 1 detection as this is a technical policy requirement. Unless this will fall into the technical policy checks.

[2021-03-24 14:12] WadeBarnes commented on #1669
@lohanspies, Would you be able to provide a link to the associated document please?

[2021-03-24 14:23] WadeBarnes commented on #1672
@lohanspies, Who is best equipped to start this investigation, and where is the relevant resource material?

[2021-03-24 14:23] WadeBarnes commented on #1673
@lohanspies, Who is best equipped to start this investigation, and where is the relevant resource material?

[2021-03-24 16:48] lohanspies commented on #1669
https://sovrin.org/wp-content/uploads/Steward-Technical-and-Organizational-Policies-V2.pdf
Node Technical Policies number 7
"MUST have at least 1 TB, with the ability to grow to 2 TB, of reliable (e.g., RAIDed) disk space, with an adequately sized boot partition."
Don't specifically mention RAID as a requirement though.

[2021-03-24 17:45] lohanspies commented on #1673
@WadeBarnes, here is the Sovrin technical policy document - https://sovrin.org/wp-content/uploads/Steward-Technical-and-Organizational-Policies-V2.pdf

What do you foresee as being part of the initial investigation?

[2021-03-24 18:00] lohanspies commented on #1672
@WadeBarnes I can take an initial look at the [tech check script ](https://github.com/sovrin-foundation/steward-tools/blob/master/steward_tech_check.py)and revert. Assume that the implementation will need to be in `indy-vdr`?

[2021-03-24 19:28] WadeBarnes commented on #1672
@lohanspies, Ah, sorry, I was thinking this was a governance policy item.  If it's simple a question of whether it's technically possible to collect the information from a node and include it the the response, the answer is Yes.

[2021-03-24 19:42] WadeBarnes commented on #1673
1. Find/Create an ACL matrix defining what ledger roles have the authority to call the `get-validator-info` transaction, and indicate what, if any data is filtered out for the given roles.  As indicated here, https://github.com/hyperledger/indy-node/issues/1669#issue-837084055, there are differences between the results of the local (on the node) call to `validator-info` and the remote call to `get

[2021-03-24 19:50] WadeBarnes commented on #1669
Collection of that information would be covered under this ticket which is asking for the metrics collected by the script to be integrated into `validator-info`; https://github.com/hyperledger/indy-node/issues/1670

[2021-03-25 15:20] lohanspies commented on #1672
@WadeBarnes we can close this ticket and focus on implementing as per the current technical requirements. If the technical policy changes later on we can adapt.

[2021-03-25 15:26] #1672 closed

[2021-03-26 17:17] udosson commented on #1675
@WadeBarnes
How if we use the Github Action [Setup JFrog CLI](https://github.com/marketplace/actions/setup-jfrog-cli) and then upload artifacts with JFrog CLI as the following?
jfrog rt u --deb=xenial/stable/amd64 indy-node_1.12.4_amd64.deb debian-repo/pool/stable/indy/indy-node_1.12.4_amd64.deb

[2021-03-28 19:40] wYaobiz opened #1676 "Building script issue."
Dear all, I got an issue while using the script [build-indy-node.sh](https://github.com/hyperledger/indy-node/blob/master/build-scripts/ubuntu-1604/build-indy-node.sh) to build indy-node. It stopped at processing generating manifest in [prepare-package](https://github.com/hyperledger/indy-node/blob/master/build-scripts/ubuntu-1604/prepare-package.sh). I attached the screenshot.

My environment is

[2021-04-06 13:17] udosson commented on #1675
Next steps to do:
- set up Hyperledger Fabric Artifactory
- Store credential as secrets in GitHub (maybe Server ID of Artifactory as well)
- Evaluate uploading method (JFrog CLI vs. CURL)
- Implement signing of packages with gpg (Take a look at [Import GPG](https://github.com/marketplace/actions/import-gpg))
- Upload can be tested with [local Debian repository](https://www.jfrog.com/confluence/dis

[2021-04-06 13:58] WadeBarnes commented on #1675
@udosson, It looks like Artifactory can handle the GPG key management and signing.

[2021-04-06 14:10] WadeBarnes commented on #1675
It will be an **Indy** repository.

[2021-04-06 16:07] WadeBarnes commented on #1675
@udosson,

I've created the new repo here and uploaded the current `rc` and `stable` versions of `indy-node` and `indy-plenum` to test things out, and play with the repository structure.  I still have to setup the permissions, tokens, and keys.

- jFrog UI: https://hyperledger.jfrog.io/ui/repos/tree/General/indy
- Resulting repository: https://hyperledger.jfrog.io/artifactory/indy/

The `pool/*` d

[2021-04-06 19:31] WadeBarnes commented on #1675
The built in key management does not work as expected.  I don't think it will suit your needs.

[2021-04-07 18:56] WadeBarnes commented on #1675
The single GPG key managed by Artifactory is used to support [SecureApt](https://wiki.debian.org/SecureApt).

[2021-04-07 19:29] WadeBarnes commented on #1675
Based on this information we should move forward with the supported **SecureApt** configuration.  This also simplifies things since we no longer have to sign the individual deb packages.

@askolesov, @udosson, @ryjones, Thoughts, comments?

[2021-04-07 19:36] WadeBarnes commented on #1675
@ryjones, Given this is a Hyperledger repository, the GPG key for the repository should be issued and managed by Hyperledger.  Would you agree?  That way any other repositories that get hosted will be protected (signed) by the same key.

[2021-04-07 19:38] ryjones commented on #1675
I agree - we need to decide how to do that

[2021-04-07 20:00] WadeBarnes commented on #1675
DMed you links describing the process, and to the place in Artifactory where the key needs to be installed.

[2021-04-08 21:04] WadeBarnes commented on #1675
@udosson, The configuration needed for [Setup JFrog CLI](https://github.com/marketplace/actions/setup-jfrog-cli) to publish packages to the Indy Artifactory repository has been mounted on the `indy-node` and `indy-plenum` GitHub repositories as `INDY_ARTIFACTORY_REPO_CONFIG`.  Thanks for doing that @ryjones.

@ryjones is in the process of setting up and installing the GPG signing key for the Artif

[2021-04-09 13:46] WadeBarnes commented on #1675
`INDY_ARTIFACTORY_REPO_CONFIG` secrets are set.  GPG signing key installed.

I've cleared out the repository and re-uploaded the 1.12.4 set of `rc` and `stable` releases using the Debian `pool` directory layout convention.

Commands used to upload the packages (from local command line):
[code]

**Note:**
For the Unbuntu 20.04 releases the `--deb` option would use `focal` in place of `xenial`.

Nex

[2021-04-09 16:58] ryjones commented on #1675
OK - I think my work here is done

[2021-04-09 17:00] WadeBarnes commented on #1675
Thanks @ryjones

[2021-04-20 14:53] Toktar opened #1677 "Ubuntu 20.04: migrate the codebase from 16.04 to 20.04 Ubuntu version."
Migrate Indy Node codebase to Ubuntu20.04 and new Python.

**Acceptance criteria:**

- Bump Python version from 3.6 to 3.8
- Bump all dependencies where it's possible without risky code changes
- All existing tests should pass

[2021-04-20 14:55] Toktar commented on #1677
PR is waiting for @WadeBarnes review https://github.com/hyperledger/indy-node/pull/1667

[2021-04-20 14:57] Toktar opened #1678 "Ubuntu 20.04: create CI for Ubuntu 20.04"
Create CI for Ubuntu 20.04 for a feature brunch `ubuntu-20.04-upgrade`

**Acceptance criteria:**
- All existing tests are launched via GitHub Actions, and they pass (if pass locally)
- All jobs(steps) pass
- Reports from launches are available.

[2021-04-20 14:59] Toktar opened #1679 "Ubuntu 20.04: create CD for Ubuntu 20.04"
Create CD for Ubuntu 20.04 for a feature brunch `ubuntu-20.04-upgrade`

**Acceptance criteria:**

- All existing tests are launched via GitHub Actions, and they pass (if pass locally)
- All jobs(steps) pass
- Reports from launches are available

Indy Node deb package are published to a public repository (focal like a channel name for Ubuntu 20.04 Focal Fossa)

[2021-04-20 15:00] Toktar commented on #1679
@WadeBarnes 's comment about  a public repository  https://github.com/hyperledger/indy-plenum/issues/1537#issuecomment-823271116

[2021-04-29 12:04] udosson commented on #1675
Hi @WadeBarnes, would it make sense to create the same subdirectoy structure in `pool` as in `dists`?
e.g.:
`indy/dists/xenial/stable/binary-amd64` and `indy/pool/xenial/stable/i/indy-plenum/`

[2021-04-30 14:26] WadeBarnes commented on #1675
@udosson, We should keep the `distribution` name out of the `pool` path.  It's possible that a single package could support more than one `distribution`.  That can be specified when the package is published and Artifactory will index it accordingly (create the required `dist` folders referencing the single package in the `pool` automatically).

[2021-07-02 11:36] RedsAnDev commented on #1624
Good day to all!

This issue still exist today (master branch),even after update suggested here https://github.com/hyperledger/indy-node/issues/1624#issuecomment-710126373

[code]

[2021-07-06 22:29] WadeBarnes commented on #1675
This is done.  The first official GHA build artifact from the main branch of indy-plenum was published today:
- https://github.com/hyperledger/indy-plenum/actions/runs/1005754452
- https://hyperledger.jfrog.io/ui/repos/tree/General/indy/pool/main/i/indy-plenum/indy-plenum_1.13.0~dev82_amd64.deb

Many more great things to come.

[2021-07-06 22:29] #1675 closed

[2021-07-06 22:33] WadeBarnes commented on #1678
The initial (16.04) GHA based CI workflow is working here; https://github.com/WadeBarnes/indy-node/actions/runs/1006012413
- Based on the same work done in [hyperledger/indy-plenum](https://github.com/hyperledger/indy-plenum)
- Once complete, this will be integrated into the `ubuntu-20.04-upgrade` branch.

[2021-07-06 22:34] WadeBarnes commented on #1679
The initial (16.04) GHA based CD workflow is working here; https://github.com/WadeBarnes/indy-node/actions/runs/1006012413
- Based on the same work done in [hyperledger/indy-plenum](https://github.com/hyperledger/indy-plenum)
- Once complete, this will be integrated into the `ubuntu-20.04-upgrade` branch.

[2021-07-10 13:20] WadeBarnes commented on #1679
PR for initial (16.04) GHA based CD workflow is working here; https://github.com/hyperledger/indy-node/pull/1680

[2021-07-10 13:20] WadeBarnes commented on #1678
PR for initial (16.04) GHA based CI workflow is working here; https://github.com/hyperledger/indy-node/pull/1680

[2021-07-17 03:30] ghabxph opened #1681 "_load_cdll: Can't load libursa: libursa.so: cannot open shared object file: No such file or directory"
**Guide From:** https://github.com/ecred-tech/indy-node/tree/master/environment/docker/pool

Tried following the above guide for me to be able to setup indy-node on my local machine.

[code]

[2021-07-17 03:32] ghabxph commented on #1681
Tried installing libursa in the indycore:

[code]

[2021-07-17 05:49] ghabxph commented on #1681
As the error suggests, we need to add **libursa.so** to the docker container in order to make node creation successful.
Here's my temporary fix

https://github.com/ecred-tech/indy-node/commit/6b8afdc5695ce7a1f8d9a6b01a216af0a882625d

![image](https://user-images.githubusercontent.com/11975597/126027291-9a03be81-49e1-46c4-a5ea-268d345d8bd8.png)

[2021-07-17 20:00] WadeBarnes commented on #1681
If you're looking to spin up an `indy-node` pool locally for development, you may find this easier; [bcgov/von-network](https://github.com/bcgov/von-network)

[2021-07-20 12:54] WadeBarnes opened #1682 "Remove pip imports in favor of importlib_metadata"
See https://github.com/hyperledger/indy-plenum/pull/1548 for details.

Make the same changes to indy-node to remove the dependency on pip.

[2021-07-29 02:13] mwherman2000 opened #1683 "Broken links"
On this page:
https://hyperledger-indy.readthedocs.io/projects/node/en/latest/requests.html
there are several occurrences of this link:
https://github.com/hyperledger/indy-node/blob/master/docs/source/auth_rules
...and it does not exist.

[2021-07-31 15:43] WadeBarnes commented on #1683
Based on the context, it looks like the link was meant to be; https://github.com/hyperledger/indy-node/blob/master/docs/source/auth_rules.md

[2021-08-10 00:50] esplinr commented on #1683
The ReadTheDocs documentation was created by a student contributor, and has not been maintained.

[2021-08-10 02:48] mwherman2000 commented on #1683
Is this considered the official (or only significant) documentation on Indy?

[2021-08-10 03:16] swcurran commented on #1683
The official documentation in the indy-node and indy-sdk repos.  The readthedocs is published from the materials in the repo.

[2021-08-10 10:38] mwherman2000 commented on #1683
What I was getting at is that if this is the (only) official documentation of the platform, it should/needs to be maintained ...and not left to whither ...unless you want the entire platform to whither.

[2021-08-18 15:17] pSchlarb commented on #1624
Trying to start the testpool with the  pool_start.sh fails.

From the build of environment/docker/pool/node.init.ubuntu.dockerfile:

 ---> Running in f616600846be
ERROR:ursa.lib:_load_cdll: Can't load libursa: libursa.so: cannot open shared object file: No such file or directory
Generating keys for provided seed b'000000000000000000000000000Node1'
Init local keys for client-stack
Public key is HXr

[2021-08-18 16:26] pSchlarb opened #1686 "Test Pool Documentation Outdated"
The documentation of the Testpool and the IndyStory Walkthrough seems to be outdated.
Following environment/docker/pool/StartIndyAgents.md there is no indy command in the container.

[2021-08-18 16:36] pSchlarb commented on #1624
Pool started with the pool_start.sh script after adding ursa.
But it seems that the documentation is outdated.
Opened  #1686 for that.

[2021-08-24 07:50] sunnyyang12 commented on #1686
I have the same issue

[2021-09-08 11:52] pSchlarb opened #1693 "Multiple Dependency Installs in GHA"
Noticed, that when slicing the modules for the tests each slice is installing the pip dependencies.
Would it be beneficial to include the dependency install into the Dockerfile?
For example add the following pip command from `.github/workflows/build.yaml:232` to the `.github/workflows/build/Dockerfile`?
[code]

[2021-09-08 19:00] WadeBarnes commented on #1693
I played with various ways of caching the dependency install when I was originally working on that part of the workflow.  The issue I ran into with moving it to the Dockerfile was the specific image then becomes the dependency and any given workflow run needs to use the image it built throughout the entire workflow, as at any time someone could check-in a new version of code that changes the insta

[2021-09-08 19:06] swcurran commented on #1693
Would there be a way to use a tag on the image, or even derive the image name (e.g., from the PR #) so that the test instances that need the one image could find it, and the next run would use a different name?

[2021-09-08 21:02] WadeBarnes commented on #1693
The concern there is filling up the container registry with a bunch of onetime use container images.  I started going down that path at one point until I realized the ramifications (the mess getting left behind).

[2021-09-08 21:37] swcurran commented on #1693
I was thinking that. Could there be an "end-of-tests" task that knows when all the tests have run and deletes the image from the registry?

[2021-09-08 21:56] WadeBarnes commented on #1693
Perhaps.  I was also playing with generating the image internally and passing it around to the different jobs, but that did not work because of how the image is being used by the jobs.

[2021-09-09 12:14] pSchlarb commented on #1693
As i understand the actual workflow, we are already creating and caching image for each run or am i missing something?
Would enabling Caching on the docker layers as described [here](https://evilmartians.com/chronicles/build-images-on-github-actions-with-docker-layer-caching) make sense?
Since the baseinstall with the apt-dependencies would not change often, compared to the pip dependency install?

[2021-09-09 13:42] WadeBarnes commented on #1693
Currently the workflow only builds and published the image if the associated docker file changes, https://github.com/hyperledger/indy-plenum/blob/master/.github/workflows/build.yaml#L33.  Otherwise it reuses the previously built container that was published in the container registry.

Layer caching may help if we use the approach of building a tagged container image for each run that gets deleted

[2021-09-12 14:50] WadeBarnes opened #1694 "Missing PYPI_API_TOKEN for indy-node repository"
We're missing the `PYPI_API_TOKEN` in the `indy-node` repository, which is causing the python publishing to fail here; https://github.com/hyperledger/indy-node/runs/3579864618?check_suite_focus=true

The token was setup on `indy-plenum`:
![image](https://user-images.githubusercontent.com/10504350/132992240-9595bd0d-8758-45e9-98f9-00b965178b36.png)

[2021-09-12 14:51] WadeBarnes commented on #1694
@ryjones, assigned to you since you setup the one in `indy-plenum` for us.

[2021-09-12 19:22] ryjones commented on #1694
done and done!

[2021-09-13 13:14] WadeBarnes commented on #1694
Thanks @ryjones, we can publish now.  The first `indy-node` python package published via GHA; https://pypi.org/project/indy-node/1.13.0.dev123/

[2021-09-13 13:14] #1694 closed

[2021-09-13 15:31] #1609 closed

[2021-09-28 23:10] lynnbendixsen opened #1700 "Node loses consensus, but does not regain it"
Note: Summary might need changed to add "for a very long time".  I just saw a case that might be similar where it took 3 hours to regain consensus. (Will include more logs from Uphold if/when they arrive)

Environment:
      Indicio Indy Networks running indy-node version 1.12.4

Steps to replicate: (the following general behavior was seen in log files for 2 nodes that lost consensus on 2 differen

[2021-09-28 23:34] lynnbendixsen commented on #1700
[20210917-anonyome-validator-log.zip](https://github.com/hyperledger/indy-node/files/7247802/20210917-anonyome-validator-log.zip)

[2021-09-28 23:52] lynnbendixsen commented on #1700
[opsnode-dn-log.2.zip](https://github.com/hyperledger/indy-node/files/7247901/opsnode-dn-log.2.zip)
[uphold.log.zip](https://github.com/hyperledger/indy-node/files/7247911/uphold.log.zip)

[2021-12-15 18:28] lynnbendixsen opened #1720 "Nodes get lost during view change (infinite loop)"
I am unable to determine the cause yet, but I think I have seen the same thing happen for 2 different networks in the last week.  Here is what I think happens (more details might be coming later, when I know more)

Symptom:  All nodes go "Out of consensus"
1. In the logs I see a View change is requested near the beginning of the problems.
2. Logs show view change requests coming at a rapid pace an

[2022-01-13 14:14] WadeBarnes commented on #1674
The documentation is now available here; https://github.com/hyperledger/indy-node/blob/master/docs/source/NewNetwork/NewNetwork.md

[2022-01-13 15:41] udosson opened #1726 "Indy-Test-Automation workflow inputs are static"
The input parameters of the workflow dispatch in `build.yaml` that triggers the `indy-test-automation` workflow is currently hardcoded.
To improve the releasing process of `indy-node`, all parameters should be set dynamically.

The code is at: https://github.com/hyperledger/indy-node/blob/master/.github/workflows/build.yaml#L429

[2022-01-18 16:38] WadeBarnes opened #1728 "Add a getting started guide for the new virtual development environments."
The following PRs add virtual development environments:
- https://github.com/hyperledger/indy-node/pull/1718
- https://github.com/hyperledger/indy-node/pull/1722

Please add a getting started guide to the top of the [Dev Setup](https://github.com/hyperledger/indy-node/blob/ubuntu-20.04-upgrade/docs/source/setup-dev.md) document about using the new virtual development environments as the preferred

[2022-01-18 16:45] WadeBarnes opened #1729 "Known issue with running tests in the virtual development environments"
Due to a bug in the [microsoft/vscode-python](https://github.com/microsoft/vscode-python) extension, some until tests appear to fail with a "Test result not found" error.  **_The tests do not actually fail._**

Details can be found here;
- https://github.com/hyperledger/indy-node/pull/1718#issuecomment-1002174774

This issue affects both:
- https://github.com/hyperledger/indy-node/pull/1718
- http

[2022-01-20 11:13] pSchlarb commented on #1678
As  #1697 is already merged, can this Issue be closed?

[2022-01-20 11:14] pSchlarb commented on #1679
As #1697 is already merged, can this Issue be closed?

[2022-01-20 11:19] pSchlarb commented on #1693
Tests have shown, that a specific run container with all the needed dependencies doesn't bring an overall improvement in pipeline execution time.
Will therefore close this issue.

[2022-01-20 11:19] #1693 closed

[2022-01-20 11:41] pSchlarb commented on #1629
As the acceptance criteria is matched, this issue will be closed.

[2022-01-20 11:41] #1629 closed

[2022-01-20 13:50] #1679 closed

[2022-01-20 13:51] #1678 closed

[2022-01-20 13:54] #1728 closed

[2022-02-10 00:44] lynnbendixsen opened #1733 "Error in "Setting up a new network" document"
There have been at  least 2 people that have recently asked me questions related to this issue, so I looked into it and discovered the following:

In step IV of https://github.com/hyperledger/indy-node/blob/master/docs/source/NewNetwork/NewNetwork.md there is a step which says that the user must create a directory (using new network name) in order to copy in the genesis files.  But the directory i

[2022-02-10 14:54] WadeBarnes commented on #1733
Step `III.2.i` talks about the need to substitute the new network name in the appropriate places in the [Installation and configuration of Indy-Node](https://github.com/hyperledger/indy-node/blob/master/docs/source/installation-and-configuration.md) guide.  Though it would be a good idea to then highlight those areas in the guide itself.  e.g. Highlight the areas with "**This is where you would su

[2022-02-10 18:57] lynnbendixsen commented on #1733
Created a PR for this:  https://github.com/hyperledger/indy-node/pull/1734

[2022-02-11 00:25] lynnbendixsen commented on #1733
PR was accepted.  Closing the issue.

[2022-02-11 00:25] #1733 closed

[2022-02-15 17:19] lynnbendixsen opened #1735 "Update default auth_rules to reflect deprecation of ATTRIB"
As a message to those creating new networks that the ATTRIB functionality is being removed from indy-node I suggest that we change the default auth_rules table to mark ATTRIB transactions as FORBIDDEN.

Currently the default auth_rules give some permissions to those that would like to perform ATTRIB transactions.  Changing it to FORBIDDEN would make it so that, by default, a user would no longer b

[2022-02-15 17:35] swcurran commented on #1735
To be a little clearer, when `did:indy` is deployed, ATTRIB will be considered deprecated, and may be removed in future updates to indy-node.

[2022-02-15 17:39] WadeBarnes commented on #1735
Is there a link to some documentation for those interested in the decision driving this change and the recommended migration/alternative?

[2022-02-15 17:46] swcurran commented on #1735
This is driven by the use of the did:indy DID method -- https://hyperledger.github.io/indy-did-method/

A PR is being added to that about deprecation - we have a DCO issue on that.

Basically - there is only one convention that uses ATTRIB -- `endpoint` -- to be added to the DIDDoc for the DID.  When the `did:indy` changes are complete, there will be full support for DIDDocs, with the data for the

[2022-02-16 19:01] dbluhm opened #1736 "Formatting with Black?"
In other python projects in the Hyperledger Ecosystem, black is used to help keep coding style consistent. I think Node would benefit from a similar treatment. This would however mean that we would need to essentially reformat every file in the project which is less than ideal. I think the improved formatting would be worth it but I'm interested to hear thoughts from others.

[2022-02-16 20:41] WadeBarnes commented on #1736
We'd want to do this for node and plenum.  I'm in support of the proposal.

[2022-02-21 16:29] pSchlarb commented on #1736
Does it make sense, to incorporate that into the pipeline?
https://github.com/rickstaa/action-black/

[2022-02-21 18:29] dbluhm commented on #1736
I am in favor of adding a format checker to the pipeline; this is how ACA-Py does it. If there are issues, it doesn't automatically commit reformatting so the original author has to fix formatting themselves. I personally favor this approach over any auto-commits from the pipeline.

[2022-03-01 00:22] cjhowland opened #1739 "What happens if the DID Core context changes?"
3.2: If the diddocContent item contains a @context item, the DIDDoc is assumed to be JSON-LD, and the @context element MUST include the current DID Core JSON-LD context. If it does not, exit the assmebly process and return an error.

Wouldn't this check require updating the ledgers in the event that the DID Core `@context` is revised? This dependency may cause issues if there is a version or domai

[2022-03-01 14:04] dbluhm commented on #1739
This issue should be opened in the indy-did-method repo :slightly_smiling_face:

[2022-03-01 14:04] #1739 closed

[2022-03-25 11:00] #1682 closed

[2022-03-29 21:37] WadeBarnes opened #1742 "Make node_control_utils.hold_packages more robust."
The `/indy_node/utils/node_control_utils.py, hold_packages` method will cause the `indy-node-control` service to crash when it attempts to hold a package that is not installed on the system.  This also causes the `indy-node` service to restart.

Add some error handling to the code so the method will simply log the fact that it tried to hold a package that does not exist rather than erroring out an

[2022-05-02 12:31] shakreiner opened #1746 "Trying to report a critical security issue"
Hey,

I have a critical security issue to report, and I didn't get any response from security@hyperledger.org
Who can I send the issue to?

Thanks!

[2022-05-02 13:06] swcurran commented on #1746
When did you send it?  Please send it again and I will connect as well with those on the list.

[2022-05-02 13:20] shakreiner commented on #1746
I sent an email last Monday asking if this was still the right place to send it.
So from your answer, I understand this email is still the place to report to, correct?

[2022-05-02 13:22] swcurran commented on #1746
The current process to use is here: https://wiki.hyperledger.org/display/SEC/Defect+Response

Ah...the address has changed recently -- from that page `There are two ways to report a security bug. The easiest is to email a description of the flaw and any related information (e.g. reproduction steps, version) to security at lists dot hyperledger dot org.`

[2022-05-02 13:24] shakreiner commented on #1746
I see.
Let me review the current process and I'll send a report to the new address shortly.
Thanks

[2022-05-02 13:27] swcurran commented on #1746
Good stuff -- thanks.  Sorry for the confusion.

[2022-05-02 13:27] #1746 closed

[2022-05-10 15:54] WadeBarnes opened #1750 "Ubuntu 20.04 based nodes intermittently loose consensus when running on a network with Ubuntu 16.04 based nodes"
Some investigation into this has been done and documented here; https://hackmd.io/GSJnYPt0Q9yFKgoNGWtcMw

[hyperledger/indy-node-container](https://github.com/hyperledger/indy-node-container) would provide a good resource for creating an environemnt where this issue can be replicated.
- It contains a Dockerfile for a 20.04 node; https://github.com/hyperledger/indy-node-container/blob/main/build/Do

[2022-05-13 13:43] pSchlarb opened #1751 "Removal of Jenkins files and Documentation update."
Since the Jenkins files has already been removed in [plenum](https://github.com/hyperledger/indy-plenum/pull/1584) they will also be deleted on node.
Also the documentation needs updates to fit the new release workflow.

[2022-05-16 19:22] WadeBarnes opened #1753 "Package version and publishing issues"
This workflow produced inconsistent package versions and did not publish the packages.

The workflow produced a python package and wheel at version `indy_node-1.13.0.dev1652704985` and a deb package at version `indy-node_1.13.0~dev1652704999`.  All of the packages should be produced with matching version numbers.

The workflow also did not publish the packages as expected.

[2022-05-16 19:22] WadeBarnes commented on #1753
The fix for these issues is here; https://github.com/hyperledger/indy-shared-gha/pull/7

[2022-05-18 13:46] WadeBarnes opened #1755 "Update auth_rules document to reflect the current defaults"
The [Default AUTH_MAP Rules](https://github.com/hyperledger/indy-node/blob/master/docs/source/auth_rules.md) document, although mostly accurate, does not fully reflect the default auth rules of a new indy-node network.

One example is the `REVOC_REG_ENTRY ADD` rule.  The document states the owner of the corresponding `REVOC_REG_DEF`, regardless of role, can add new `REVOC_REG_ENTRY`s.  The default

[2022-05-18 14:19] WadeBarnes commented on #1755
The indicated discrepancy in the documentation may actually be a bug in the code.  The initial code associated to the above indicated changes happened here, https://github.com/hyperledger/indy-node/commit/8d505a919dc13170a33ef99603d8ef0c921e5b19, and is associated with this Jira ticket, https://jira.hyperledger.org/browse/INDY-1554.  The acceptance criteria for the ticket (in both settings cases)

[2022-05-18 14:21] WadeBarnes commented on #1755
First step would be to determine if this particular discrepancy is a bug or intentional.

[2022-05-18 14:25] WadeBarnes commented on #1755
@mac-arrap, @VladimirWork, Do either of you recall?

[2022-05-18 22:16] WadeBarnes commented on #1755
@mac-arrap, What's throwing me off right now is the acceptance criteria of the jira ticket matches what is indicated in the auth_rules documentation, but it does not match the default auth_rule (included above) that was implanted in the code.

[2022-05-31 10:44] Aashish07 opened #1757 "Not able to install this module for ubuntu2004 branch"
The documnet is outdated even when this has been going on for a month. Please help me out , or update the document so that we can what updates are there. Need to install this on ubuntu 20.04 lts asap. @shemnon @redongjun @m00sey @trentlarson @peacekeeper

[2022-05-31 11:03] pSchlarb commented on #1757
First of all what document is outdated?
Which module is not installable?
Have you checked the `ubuntu-20.04-upgrade` branch?
Have your read the [NewNetwork Documentation](https://github.com/hyperledger/indy-node/blob/master/docs/source/NewNetwork/NewNetwork.md) ?

[2022-06-02 20:17] Aashish07 commented on #1757
@WadeBarnes Extremely sorry for delay,
@pSchlarb  Yes I have checked out the branch ubuntu-20.04-upgrade ,
And i am talking about this documentation ->
https://github.com/hyperledger/indy-node/blob/ubuntu-20.04-upgrade/docs/source/setup-dev.md
I can see that i can build and install the module directly using pip for which it will download all the whl file,
(As it happens in aries agent) -> pip inst

[2022-06-03 09:44] pSchlarb commented on #1757
@Aashish07 I checked the [Gitpod Image](https://github.com/hyperledger/indy-node/blob/ubuntu-20.04-upgrade/.gitpod.Dockerfile) and the [local vscode devcontainer image](https://github.com/hyperledger/indy-node/blob/ubuntu-20.04-upgrade/.devcontainer/Dockerfile). Both are working. They are able to install it without any problems.

(As it happens in aries agent) -> pip install -e . (As mentioned in

[2022-06-03 14:02] WadeBarnes commented on #1757
Yes, you need to install the dependencies for rocksdb before the pip install.

[2022-06-07 11:31] #1751 closed

[2022-06-10 06:39] pSchlarb commented on #1757
Since a week is gone without further notice i consider this issue closed.

[2022-06-10 06:39] #1757 closed

[2022-06-21 01:47] tnkhanh opened #1765 "Error when starting pool in docker (mount: permission denied)"
Hi, I'm trying to start a pool and encountered this error:
[code]

I have my user in the docker group and can run some other docker containers fine.
I'm on Ubuntu 21.10.
What am I missing?
Thanks!

[2022-06-22 13:10] salihaatak opened #1766 "indy-node.service: Failed with result 'exit-code'"
Hi dear Indy Node community,

We plan to use Indy Node for a large-scale project. We are in R&D stage.

We could not start the indy-node service. Error occurs. Here are `systemctl status indy-node` output:

![image](https://user-images.githubusercontent.com/153772/175032779-46cbea08-386a-4b46-ac55-f2c03b60d3fc.png)

Here is `validator.py` status:

![image](https://user-images.githubusercontent.com

[2022-06-22 13:45] WadeBarnes commented on #1766
@esrefatak, I'm seeing a few things with your configuration.

1) The recommended way to setup a new production level network is documented here; [Setting up a New Network](https://github.com/hyperledger/indy-node/blob/master/docs/source/NewNetwork/NewNetwork.md).  The docs refer to installing the `sovrin` package.  If you want to have a pure `indy-node` network, you can replace `sovrin` with `indy

[2022-06-22 13:59] WadeBarnes commented on #1766
@esrefatak,  There is also the question of build your own vs use an existing service.  There are couple service offerings available for `indy-node` networks, https://sovrin.org/, and https://indicio.tech/, that may meet your needs.

[2022-06-22 15:19] esrefatak commented on #1766
In our case, third party services are not affordable as we have really high
number of users. Because of high volume transactions, we plan to host our
own network. Thanks for your advice.
--
Esref Atak
http://linkedin.com/in/esrefatak

[2022-06-23 09:12] pSchlarb commented on #1736
Currently the ubtunu-20.04 branches for plenum, node and sovrin token-plugin use the indy-shared-gha linting process from [here](https://github.com/hyperledger/indy-shared-gha/blob/main/.github/workflows/lint.yaml).
It is currently using flake8 in with the following versions:
`flake8==3.8.4`
`pep8==1.7.1`
`pep8-naming==0.6.1`
The token-plugin is also linted with the updated versions of those.
Shou

[2022-06-23 13:44] esrefatak commented on #1766
@WadeBarnes
I started to install all the network from scratch according to your recommendations.

For Ubuntu 20.04 ("Focal") what no I need to specify? No info in doc about this detail. I tried "focal" but failed.

![image](https://user-images.githubusercontent.com/153772/175313522-4cd8a61d-0f93-482e-a507-1e9c8e3f7960.png)

A stackoverflow post says "use bionic" but i wanted to be sure.

[2022-06-23 14:22] WadeBarnes commented on #1766
I provided the repo spec above; https://github.com/hyperledger/indy-node/issues/1766#issuecomment-1163118731

Here is a more complete example.  It's a docker file for simplicity, but gives you the basic steps you'll need to perform:
[code]

[2022-06-24 11:28] esrefatak commented on #1766
Actually, problem is installing `indy-cli`. [Docs](https://github.com/hyperledger/indy-node/blob/master/docs/source/NewNetwork/NewNetwork.md) you linked, requires to install `indy-cli` first and generate some keys/seed (before other installation).

As you can see in following screenshot, it's not exist in sources:

![Screenshot from 2022-06-24 14-24-05](https://user-images.githubusercontent.com/15

[2022-06-27 08:14] esrefatak opened #1767 "Storing person photo into Verifiable Credential"
I'm not sure whether this place is correct but I could not find another place to ask. Sorry if it's not correct...

As you know, in traditional world, when you show your ID card to an officier, in most cases, he compares the photo with your face first. If it matched then he lets you pass.

Because of this tend, I consider to store user's photo into an attribute in verifiable credential. So that, o

[2022-06-27 10:48] dhh1128 commented on #1767
As to the location for this question, I think this isn't an ideal place to ask, but none of the other places I can think of are great, either. Perhaps an email to the [W3C Credentials Community Group mailing list](https://lists.w3.org/Archives/Public/public-credentials/)? But I predict they won't have crisp answers, either.

Regarding the question itself: Theoretically, there is nothing that preve

[2022-06-27 10:59] esrefatak commented on #1767
@dhh1128 Thank you for your detailed answer. I understand the situation very well.

[2022-06-27 10:59] #1767 closed

[2022-08-11 10:15] c2bo opened #1769 "Revocation Registry Entry update depends on the ordering of sets"
This should explain the behavior from #1750.

When a revocation registry entry is received, the corresponding [handler](https://github.com/hyperledger/indy-node/blob/ubuntu-20.04-upgrade/indy_node/server/request_handlers/domain_req_handlers/revoc_reg_entry_handler.py) will find out the revocation registry strategy of the corresponding revocation registry and use the one of the 2 implementations pr

[2022-08-11 11:04] c2bo commented on #1769
Behavior of this seems to have changed with python3.6

[2022-08-11 12:55] WadeBarnes commented on #1769
Great find

[2022-08-11 13:32] c2bo commented on #1769
Just to be sure this doesn't get forgotten, this problem is present in both revocation strategies:

https://github.com/hyperledger/indy-node/blob/1e24fc2fb5eeb8778cf64310e96da23a2c279985/indy_node/server/revocation_strategy.py#L140-L144

https://github.com/hyperledger/indy-node/blob/1e24fc2fb5eeb8778cf64310e96da23a2c279985/indy_node/server/revocation_strategy.py#L198-L202

[2022-08-11 16:49] swcurran commented on #1769
Suggestion on how to avoid a config for the issue.  Can the code run the signature verifier and if it fails on a rev-reg-entry, regenerate the list to force it to "the old way", reverify the signature and accept that?   That way we can move forward with the upgrade to Python and not have to have a startup parameter that says when this change went into efffect.

[2022-08-11 17:03] WadeBarnes commented on #1769
Or is something that can be fixed and we could use a migration script for; https://github.com/hyperledger/indy-node/tree/main/data/migrations

[2022-08-11 17:12] swcurran commented on #1769
Wild -- do those scripts allow for updating transactions/signatures/roots on existing transactions?  They would be able to fix this issue?

[2022-08-11 17:19] c2bo commented on #1769
Wouldn't we still have an issue with having incorrect state root hashes in the audit ledger breaking the state proofs?

[2022-08-11 17:21] WadeBarnes commented on #1769
The migration scripts have been used for a variety of reasons in the past; data migrations, config updates, etc.

[2022-08-12 14:55] tnkhanh commented on #1765
I still have this issue. `/sys/fs/cgroup` and `/sys/fs/cgroup/systemd` are owned by root.
Should I run the pool as root?

[2022-08-15 15:05] c2bo commented on #1769
That is another issue I realized while this happened during catchup: This happened at domain tx 843 but the node did not indicate any kind of error und went through all the domain transactions. I do believe that state root hashes are currently not verified during catchup. That is something I planned to understand this week and create a separate issue if this is correct.

[2022-09-13 15:30] pSchlarb opened #1778 "general_config files missing."
While testing `token-plugin` with the updated version of indy-node,
testing of `token-plugin` failed due to missing files under `general_config`:

- `ubuntu_platform_config.py`
- `general_config.py`
- `windows_platform_config.py`

Those files were deleted by the `prepare_package.sh` script.

[2022-09-14 17:54] #1778 closed

[2022-09-16 15:02] pSchlarb opened #1781 "Version mismatches between deb and pypi packages (`.(dev|rc)` vs `~(dev|rc)`)"
The `prepare_package.sh` script changes the version number of plenum and node in the `setup.py` to match with the deb versioning (`~`).
fpm extracts that and writes the deb depends on correctly with the deb versioning.
The problem is in the final deb package, the `requires.txt` lists the pypi version in the deb format with the `~` in it.
If someone only install with apt and uses indy-node /plenum

[2022-10-20 13:21] spkane opened #1786 "Python library `distro==1.8.0` does not work with `fpm`"
Python library `distro==1.8.0` does not work with `fpm` and therefore breaks the `build-scripts/ubuntu-2004/build-3rd-parties.sh` script, without first doing something like this:

`sed -i 's|build_from_pypi distro|build_from_pypi distro 1.7.0|g' ./build-scripts/ubuntu-2004/build-3rd-parties.sh`

- https://pypi.org/project/distro/#history

It appears that this is due to the removal of `setup.py` wh

[2022-10-26 15:36] WadeBarnes commented on #1786
https://github.com/hyperledger/indy-node/pull/1787 fixes the immediate issue reported here.  Long term we'll have to look into aligning with the new setuptools recommendations, as noted in the [distro v1.8.0](https://github.com/python-distro/distro/releases/tag/v1.8.0) release, and the use of https://github.com/upciti/wheel2deb as noted above.

[2022-11-09 07:44] c2bo commented on #1769
Fixed by #1777 #1783 #1775 #1770, can we close this or should we wait for the final testing and node 1.13 release?

[2022-11-09 13:05] WadeBarnes commented on #1769
I think it's safe to close.

[2022-11-09 13:05] #1769 closed